.User {
    font-weight: bold;
    color: #A6609B;
    margin-right: 8px;
}

.Date {
    font-weight: lighter;
    color: #db628e;
}
.CommentBox {
    color: var(--dark-slate-grey);
    border: 1px solid var(--light);
    border-radius: 35px;
    padding: 5px 10px 5px 20px;
}

.Comment {
    font-weight: bold;
    color: black;
}