.Event {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;

  }
  
.Event figure,
  h5 {
    margin: 0 0;
  }

.Star {
    color: rgb(246, 255, 0);
}

.Star:hover {
    color: rgb(137, 137, 30);
}

.StarOutline:hover {
    color: yellow;
}
