.Event {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;

  }
  
.Event figure,
  h5 {
    margin: 0 0;
  }

.Star {
    color: rgb(246, 255, 0);
}

.Star:hover {
    color: rgb(137, 137, 30);
}

.StarOutline:hover {
    color: yellow;
}

.JoinButton {
    border: none;
    background-color: #1dfa4d;
    color: rgb(4, 4, 4);
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
}
  
.JoinButton:hover {
    cursor: pointer;
    background-color: rgb(231, 242, 20);
    color: #242a3d;
}
.CancelButton {
    border: none;
    background-color: #e71515;
    color: rgb(4, 4, 4);
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
}
  
.CancelButton:hover {
    cursor: pointer;
    background-color: rgb(243, 122, 122);
    color: #242a3d;
}
