.NavBar {
    background-color: #bfcbc2;
    border: 1px solid #dadadf;
}

.NavLink {
    padding: 5px;
}

.Active i {
    color: #c2e812;
}

.Active {
    color: #c2e812;
}

i {
    padding: 7px;
    font-size: 1.6rem;
    color: black;
}

i:hover {
    cursor: pointer;
    color: #c2e812;
}

a {
    color: #fff
}

a:hover {
    cursor: pointer;
    color: #c2e812;
}

a::after {
    display: none !important;
}