.NavBar {
    background-color: #6a6a6e6b;
    border: 1px solid #dadadf;
}

.NavLink {
    padding: 5px;
}

.Active i {
    color: #e1ff00;
}

.Active  {
    color: #e1ff00;
}

i {
    padding: 7px;
    font-size: 1.6rem;
    color: rgb(9, 9, 9);
}

i:hover {
    cursor: pointer;
    color: #e1ff00;
}

a {
    color: rgb(5, 5, 5)
}

a:hover {
    cursor: pointer;
    color: #e1ff00;
}

a::after {
    display: none !important;
}