.App {
    font-family: "Work Sans", sans-serif;
    background-color: #eef4f9;
    min-height: 100vh;
    font-weight: 900;
}

.Main {
    padding-top: 81px;
}

* {
    box-sizing: border-box;
}

.Content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

* {
    box-sizing: border-box;
}

input[type="file"] {
    display: none;
}

figure {
    text-align: center;
    display: inline-block;
}

.Alert {
    margin-bottom: 0;
    padding: 5px;
    font-weight: bold;
}

/* scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}